<h1>My Account</h1>
<div class="form-container">
    <form name="orderForm">
        <table class="table">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Action</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in vm.orders">
                <td>{{order.ordernum}}</td>
                <td>{{order.orderdate}}</td>
                <td>{{order.status}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="vm.toggleModal()">Comment</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>


    <!--&lt;!&ndash;<modal title="Login form" visible="vm.showModal">&ndash;&gt;-->
    <!--<modal title="Login form" visible=false>-->
        <!--<form role="form">-->
            <!--<div class="form-group">-->
                <!--<label for="email">Email address</label>-->
                <!--<input type="email" class="form-control" id="email" placeholder="Enter email" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="password">Password</label>-->
                <!--<input type="password" class="form-control" id="password" placeholder="Password" />-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
    <!--</modal>-->

</div>



